.root { width: '100%'}
  
.paper {
    width: '100%';
    margin-bottom: 25px;
  }

  .table {
    minWidth: 750;
  }

  .visuallyHidden {
    border: 0;
    clip: 'rect(0 0 0 0)';
    height: 1;
    margin: -1;
    overflow: 'hidden';
    padding: 0;
    position: 'absolute';
    top: 20;
    width: 1;
  }
  .MuiTableRow-root:hover { 
    background: #c2ae76 !important 
}